@using OnlineStore.Areas.Seller.Models;
@model BoothViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->
<body>
    <form class="form-horizontal" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>ثبت غرفه</legend>
            <input asp-for="SellerId" type="hidden" value="@Model.SellerId" />
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">نام</label>
                <div class="col-md-4">
                    <input asp-for="Name" placeholder="نام" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">توضیحات</label>
                <div class="col-md-4">
                    <input asp-for="Description" placeholder="توضیحات" class="form-control input-md" required="" type="text">

                </div>
            </div>


            <!-- Select Basic -->
            <div class="form-group">

                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-warning">ثبت</button>
                </div>
            </div>


        </fieldset>
    </form>


    <script src="~/js/jquery-3.6.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/plugin/countdown/countdown.js"></script>
    <script src="~/js/plugin/back-to-top/jquery-backToTop.min.js"></script>
    <script src="~/js/plugin/hint-css/hint-css.js"></script>
    <script src="~/js/jquery-app.js"></script>
    <script src="~/js/plugin/waves/waves.js"></script>
    <script src="~/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
</body>
</html>